.c-categories {
  position: fixed;
  top: var(--header-height);
  left: 0;
  height: calc(100vh - var(--header-height));
  width: 350px;
  padding: 1rem;

  background: rgb(250, 250, 250);
  overflow-y: auto;
}

.c-categories__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.c-category__ul {
  padding: 0;
  padding-left: 40px;
  list-style: none;
}

.c-category {
  margin-block: 1rem;
  list-style: none;
  font-size: 1.2rem;
}

.c-category__toggle {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding: 0;
  line-height: 1;

  border-radius: 100%;
  background: #fff;
  box-shadow: 2px 2px 4px #b1b1b1;
  cursor: pointer;
}

.c-category__link {
  color: #000;
  text-decoration: underline;
  font-size: 1rem;
}

.c-category__link--is-active {
  font-weight: bold;
}

.c-current-category-display {
  margin-left: 350px;
}
