.c-home {
  min-height: calc(100vh - var(--header-height));
  margin-inline: 100px;
  display: flex;
  flex-flow: column;
}

.c-home__title {
  position: relative;
  margin-top: 4rem;
  font-size: 4.5rem;
  font-weight: bold;
}

.c-home__title-effect {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 15%;
  height: 2px;
  background: black;
  animation: titleEffect 0.7s forwards;
}

@keyframes titleEffect {
  from {
    left: 0;
    width: 15%;
  }
  to {
    left: 45%;
    width: 0;
  }
}

.c-home__description {
  margin-top: 4rem;
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgb(56, 56, 56);
}

.c-home__link {
  margin-top: 5rem;
  padding-bottom: 3px;
  max-width: 270px;
  min-height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  text-decoration: none;
  line-height: 0.2;

  color: #fff;
  background: rgb(10, 10, 10);
  border-radius: 4px;

  animation: buttonPulsate 2s infinite both alternate;
}

@keyframes buttonPulsate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@media (max-width: 600px) {
  .c-home {
    margin-inline: 40px;
  }

  .c-home__title {
    font-size: 2.5rem;
  }

  .c-home__description {
    margin-top: 1.3rem;
    font-size: 1rem;
  }

  .c-home__link {
    margin-top: 2rem;
    max-width: 100px;
    min-height: 40px;
    font-size: 1rem;
  }
}
