.c-header {
  position: sticky;
  z-index: 10;
  top: 0;
  height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;

  color: white;
  font-size: 2rem;

  background: black;
}

.c-header-logo {
  position: relative;
  display: flex;
  align-items: center;
}

.c-header-logo__image {
  width: 40px;
  height: 40px;
}

.c-header-logo__link {
  position: absolute;

  width: 100%;
  height: 100%;

  opacity: 0;
}

.c-nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.c-nav__link {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  animation: activeNavLinkOut 0.3s ease-out both;
  transition: transform 0.2s ease-out;
}

.c-nav__link--is-active {
  font-weight: bold;
  animation: activeNavLinkIn 0.3s ease-out both;
}

.c-nav__link:hover {
  transform: scale(1.1);
}

@keyframes activeNavLinkIn {
  from {
    font-size: 1.2rem;
  }
  to {
    font-size: 1.3rem;
  }
}

@keyframes activeNavLinkOut {
  from {
    font-size: 1.3rem;
  }
  to {
    font-size: 1.2rem;
  }
}

.c-nav__link--cart {
  margin-left: 1rem;
  transition: transform 0.2s ease-out;
}

.c-nav__link--cart.c-nav__link--is-active > img {
  transform: scale(1.1);
}

.c-nav__cart {
  width: 1.5rem;
  filter: invert(1);
}

@media (max-width: 600px) {
  .c-header {
    padding: 5px 5px;
  }

  .c-header-logo__text {
    display: none;
  }

  .c-nav {
    gap: 8px;
  }

  .c-nav__link {
    font-size: 1rem;
  }
}
